body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-silver-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --light-shadow-color: rgba(0, 0, 0, 0.3);
  --point-red-color: #f1404b;
  --bg-gray-color: #dddfe6;
  --bg-silver-color: #f4f5f9;
  --point-blue-black-color: #252c41;
}
